.btn-success :hover
{
    background-color:red;
}
canvas
{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    border: 2px double rebeccapurple;
    border-radius: 20px;
}
@keyframes example
{
    from{box-shadow: 1px 1px 38px royalblue;}
    to{box-shadow: 1px 1px 38px rebeccapurple;}
}
.heading
{
    border-radius:20px;
    background-color:navy;
    width:30%;
    color:navajowhite;
}